html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 450px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 450px !important;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  top: 50% !important;
}

.accordion label:after {
  content: "";
  position: absolute;
  right: 1.5em;
  color: #000000;
  top: 29%;
  font-size: 20px;
}

.accordion input:checked + label:after {
  content: "";
  position: absolute;
  right: 1.5em;
  font-size: 22px;
}

.accordion__content {
  max-height: 0em;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}

.accordion input[name="panel"]:checked ~ .accordion__content {
  max-height: 50em;
}
